<% provide(:title, 'Admin View') %>
<h6>Admin->View</h6>
<div class="row-fluid">
  <div class="span4">
    <h6>Accounts</h6>
    <%= collection_select(:account, :account_id,  @accounts,  :id, :id, {:prompt   => "Select an account"}, {:id => 'account_select', :multiple => true, :size => 20 })%>
  </div>
  <div class="span4">
    <h6>Projects</h6>	
    <%= collection_select(:project, :project_id,  @projects,  :id, :id, {:prompt   => ""}, { :id => 'project_select', :size => 20 })%>
  </div>
  <div class="span4">
    <h6>Contacts</h6>	
    <%= collection_select(:user, :user_id,  @users,  :id, :id, {:prompt   => ""}, { :id => 'user_select', :size => 20 })%>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#account_select').change(function() {
      $.ajax({
        url: "main/select_account",
        data: {
          account_id : $('#account_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>
