<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Florida Digital Archive</h1>
  <%= link_to "Please sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>
