<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Florida Digital Archive</h1>
  <h2>
      This is the home page for Florida Digital Archive
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
