<footer class="footer">
  <small>
    <a href="https://github.com/cchou/daitss">DAITSS github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://fclaweb.fcla.edu/FDA' %></li>
      <li><%= link_to "Help",    help_path %></li>      
      <li><%= link_to "Contact", 'http://www.flvc.org/flvc/portal/Home_Page/About%20FLVC/Contact_Us/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3hDYxNPf293QwN_Q1MjA09jV3dLswBXIwsnQ30_j_zcVP2CbEdFAA4MQCA!/dl3/d3/L2dJQSEvUUt3QS9ZQnZ3LzZfMTM0SU9LRzEwTzE1MjBJM0VHOTZQRTI4TjE!/' %></li>
      <li><a href="http://daitss.fcla.edu">Open Source</a></li>
    </ul>
  </nav>
</footer>