<footer class="footer">
  <small>
    <a href="https://github.com/cchou/daitss">DAITSS github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://fclaweb.fcla.edu/FDA' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://daitss.fcla.edu">Open Source</a></li>
    </ul>
  </nav>
</footer>